* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    background-color: rgb(189, 215, 20);
    background-image: url(../images/622669.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 20px; */
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

div {
    display: inline-block;
    border: 2px solid rgb(9, 98, 9);
    border-radius: 5px;
}

input {
    padding: 10px;
    vertical-align: middle;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    /* width: 14px; */
    color: tomato;
    font-size: large;
}

input:focus::placeholder {
    opacity: 0;
}